.cov-message {
    background-color: rgb(255, 250, 142);
    font-size: small;
    font-family: 'IBM Plex Serif', serif;
    /* margin-left: none; */
    padding: 17px;
}

@media screen and (max-device-width: 600px) {
    .cov-message {
        display: none;
    }
}
