.user-info-card {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    bottom: 0;
    font-size: 20px;
}

.user-stats {
    padding: 0 10px;
    font-size: small;
    color: grey;
}

.ticker-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ticket-info-card {
    margin: 0 auto;
    width: 90%;
}

.ticket-container {
    min-height: 800px;
}

.profile-img {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    box-shadow: 0px 0px 10px rgb(92, 92, 97);
}

.user-card-text {
    display: inline;
}

.card-name {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.user-marks {
    display: flex;
    padding: 8px;
}

.name {
    padding: 1%;
    font-size: large;
}

.users-boxes {
    width: 97%;
    border-bottom: 1px solid rgb(204, 206, 213);
    transition: all 1.3s;
}

.ticket-card {
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 5fr 1fr;
}

.ticket-card:hover {
    box-shadow: 5px 5px 10px rgb(119, 155, 165);
    transition: all ease 0.3s;
}

.tix-card-img {
    width: 100%;
    height: cover;
}

.tix-card-info {
    padding: 10px;
}

.tix-date {
    font-size: .9em;
    color: rgb(230, 135, 18);
}

.tix-title {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

.tix-link {
    text-decoration: none;
}

.tix-link:hover {
    text-decoration: none;
}


/* -------------------------------------------------------not tix */

.no-tickets-img {
    content: url('../../../images/ticket-logo.gif');
    width: 100%;
    height: 40%;
    margin-top: 40px;
}

.no-tix-cont {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.no-tix {
    margin: 0 auto;
}

.no-hearts-img {
    content: url('../../../images/1432115547.jpeg');
    width: 100%;
    height: 40%;
    border-radius: 10px;
    margin-top: 40px;
}


/* -------------------------------------------------------toggle */

.orders-toggle {
    border: none;
    background-color: inherit;
    font-size: larger;
    color: rgb(98, 101, 125);
}

.orders-toggle:hover {
    cursor: pointer;
    color: rgb(49, 49, 255);
}


/* -------------------------------------------------------follows */

.follow-card-img {
    width: 175px;
    height: 175px;
    border-radius: 175px;
    margin-left: 80px;
}

.user-card {
    width: 650px;
}

.user-info {
    font-size: larger;
    color: rgb(54, 73, 89)
}

@media screen and (min-width: 600px) {
    .ticker-grid {
        display: block;
    }
    .user-info-card {
        padding-top: 150px;
        padding-bottom: 50px;
        position: static;
    }
    .user-stats {
        font-size: x-large;
        width: 150px;
    }
    .user-marks {
        width: 100%;
    }
    .name {
        font-size: xx-large;
    }
}
