.venue-image-container {
    content: url('../../images/Screenshot-2019-09-24-at-16.21.06.png');
    height: 100%;
}

.venue-cancel-button {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: inherit;
    border: 3px solid rgb(213, 213, 234);
    color: white;
    font-size: 40px;
}

.venue-cancel-button:hover {
    background-color: rgba(220, 212, 212, 0.646);
    color: rgb(237, 241, 247);
    cursor: pointer;
}

.verify-button:hover {
    box-shadow: 3px 3px 10px black;
    transition: all ease .6s;
    cursor: pointer;
}

.hover-latlng-msg {
    width: 50px;
    height: 50px;
    font-size: medium;
    position: fixed;
    left: 40%;
    color: rgb(130, 121, 121);
    /* padding-left: 370px; */
}

.hover-latlng-msg:hover {
    cursor: pointer;
    content: url(../../images/Screen\ Shot\ 2021-09-01\ at\ 3.38.34\ PM.png);
    width: 400px;
    height: 330px;
    position: fixed;
    top: 300px;
    right: 300px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px blue;
}

.lat-coord {
    display: flex;
    flex-direction: column;
}

@media screen and (max-device-width: 600px) {
    .venue-image-container {
        display: none;
    }
    .venue-form {
        display: block;
        padding-top: 50px;
    }
    .venue-cancel-button {
        width: 120px;
        height: 120px;
    }
}
