.signup-form-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: rgb(249, 250, 252);
    width: 100%;
    /* height: 100%; */
}

.signup-image-container {
    background-image: url('../../../images/Screenshot-2019-09-24-at-16.11.44.png');
    height: 100vh;
    /* height: 100%; */
    background-size: cover;
}

.singup-form {
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.error-messages {
    font-size: small;
}

.error-messages:hover {
    color: rgb(255, 0, 0);
    transition: all ease 5.5s;
}

.formuser-top-message {
    /* font-size: 38px; */
    font-family: 'Fredoka One', cursive;
    color: rgb(53, 19, 87);
}

@media screen and (max-device-width: 600px) {
    .singup-form {
        padding: 50px;
    }

    .signup-image-container {
        display: none;
    }
    .signup-form-container {
        display: inline;
    }
    .formuser-top-message {
        font-size: 80px;
    }

}
