.signup-form-container {
    display: block;
    grid-template-columns: repeat(2, 50%);
    background-color: rgb(249, 250, 252);
    width: 100%;
    /* height: 100%; */
}

.signup-image-container {
    background-image: url('../../../images/Screenshot-2019-09-24-at-16.11.44.png');
    background-size: cover;
    display: none;
    
}

.singup-form {
    height: fit-content;
    margin: 0 auto;
    padding: 60px;
}

.error-messages {
    font-size: small;
}

.error-messages:hover {
    color: rgb(255, 0, 0);
    transition: all ease 5.5s;
}

.formuser-top-message {
    /* font-size: 38px; */
    font-family: 'Fredoka One', cursive;
    color: rgb(53, 19, 87);
    
}

@media screen and (min-width: 600px) {
    .singup-form {
        margin-top: 100px;
        padding: 0;
    }

    .signup-image-container {
        display: block;
        height: 100vh;


    }
    .signup-form-container {
        display: grid;
    }
    .formuser-top-message {
        
    }

}