@import url(./VenueForm.css);
.host-container {
    background-color: inherit;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

b:hover {
    color: red;
}

.host-card {
    background-color: inherit;
    border-bottom: 1px solid rgb(225, 225, 242);
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 2fr 9fr;
}

.host-input {
    width: 100%;
    height: 30px;
}

.basic-img-settings {
    width: 80px;
    height: 80px;
    position: relative;
    top: 25px;
    left: 40px;
}

input {
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Work Sans', sans-serif;
}

select {
    font-family: 'Work Sans', sans-serif;
}

.text-area {
    height: 160px;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
}

.basic-info-img {
    content: url('./icons8-finn-480.png');
}

.location-info-img {
    content: url('./icons8-quest-100.png');
}

.description-img {
    content: url('./icons8-bmo-500.png');
}

.capacity-img {
    content: url('./icons8-lumpy-space-princess-500.png');
}

.cos-img {
    content: url('./icons8-coins-64.png');
}

.mainimg-img {
    content: url('./icons8-jake-500.png');
}

.date-img {
    content: url('./icons8-schedule-480.png');
}

.info-input {
    width: 80%;
}

.host-submit-buttom {
    border: none;
    width: 100%;
    height: 60px;
    background-color: rgb(13, 49, 103);
    color: white;
    font-size: x-large;
}

.host-submit-buttom:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(38, 9, 230);
}

.bad-image {
    content: url('https://c8.alamy.com/comp/JF67XY/computer-plate-414-request-url-too-long-JF67XY.jpg');
    width: 400px;
    height: 100%;
    box-shadow: 5px 5px 20px rgb(255, 158, 53);
}

.good-image {
    max-width: 400px;
    height: 100%;
    box-shadow: 5px 5px 20px rgb(48, 36, 157);
}

.required {
    font-size: x-small;
}

@media screen and (max-device-width: 600px) {
    .host-card {
        padding: -20px -40px
    }
    .info-input {
        width: 100%;
        font-size: xx-large;
    }
    p {
        font-size: xx-large;
    }
    .host-input {
        height: 60px;
        font-size: xx-large;
    }
    .basic-img-settings {
        padding-top: 100px;
    }
    .required {
        font-size: x-large;
    }
    .text-area {
        height: 250px;
        width: 95%;
    }
    select {
        font-size: medium;
    }
}
