.host-container {
    background-color: inherit;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

b:hover {
    color: red;
}

.host-card {
    background-color: inherit;
    border-bottom: 1px solid rgb(225, 225, 242);
    padding: 20px;

}
