.footer-message {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(103, 96, 135);
    border-bottom: 1px solid rgb(103, 96, 135);
    padding: 20px 0;
    margin-top: 5%;
    font-size: small;
    margin-left: -2%
}

.footer-container ul {
    list-style-type: none;
}

.footer-container {
    margin-top: 100px;
    color: rgb(189, 191, 205);
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    color: rgb(212, 212, 239);
    background-color: rgb(38, 16, 94);
    width: 100%;
    height: 100%;
}

.footer-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-title {
    font-size: large;
    color: rgb(124, 128, 155);
}

.footer-footer {
    display: flex;
    justify-content: center;
}

.my-links {
    padding: 50px 40px;
}

.footer-lists {
    padding: 1px 0;
}

.footer-linked {
    text-decoration: none;
    color: rgb(212, 212, 239);
}

.footer-linked:hover {
    color: rgb(130, 163, 230);
}

/* ===============================icons========================================= */

.git-icon {
    content: url(../../../images/git.png);
    width: 45px;
    height: 45px;
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
}

.git-icon:hover {
    box-shadow: 3px 3px 20px hotpink;
    border-radius: 30px;
    transition: ease-in-out 1.3s;
}

.email-icon {
    content: url(../../../images/mail.png);
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
}

.angel-icon {
    content: url(../../../images/angelist.png);
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
}

.linked-icon {
    content: url(../../../images/linked.png);
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
}

.personal-set {
    width: 40px;
    height: 40px;
}

.personal-set:hover {
    box-shadow: 3px 3px 20px hotpink;
    border-radius: 40px;
    transition: ease-in-out 1.3s;
}

@media screen and (max-device-width: 880px) {
    .footer-container {
        height: auto;
        background-color: rgb(93, 86, 163);
        margin-left: -8px;
    }
    .footer-tabs {
        display: none
    }
    .footer-message {
        display: none;
    }
}
