@import url('./HomePage.css');
.spalsh-image {
    background-image: url('../../images/edm3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.spalsh-image div {
    max-width: 1440px;
    margin: auto;
    padding: 20px 0px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    /* margin: -8px; */
}

.top-sent {
    padding-top: 60px;
}

.bottom-sent {
    padding-bottom: 10px;
}

h3 {
    font-size: 1.30 rem
}

p {
    font-size: 16px;
}

.event-button {
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 7%;
    background-color: rgb(50, 211, 247);
    color: rgb(255, 253, 253);
    font-size: 90%
}

.event-button:hover {
    cursor: pointer;
}

.opening-sent {
    color: white;
    font-size: 50px;
    /* height: 300px; */
    margin: 0;
    padding-left: 40px;
    font-family: 'Monoton', cursive;
}

.covid-message {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(227, 211, 211);
    padding: 10px 20px;
    border-left: 4px solid rgb(237, 68, 68);
    border-radius: 5px;
}

.covid-under-msg {
    font-size: small;
    color: rgb(48, 59, 70);
}

.covid-header-title {
    color: rgb(39, 35, 50);
}

@media screen and (max-device-width: 600px) {
    .event-button {
        width: 400px;
        height: 100px;
        border-radius: 12px;
        font-size: 35px;
    }
}
