.login-form {
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.login-form-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: rgb(249, 250, 252);
    width: 100%;
    height: 1100px;
}

h1 {
    font-size: 48px;
}

.login-image-container {
    /* height: 1000px; */
    background-size: cover;
    background-image: url('event3.jpeg');
}

.logo-image-container {
    content: url('../../NavBar/adventure_time-logo2.jpeg');
    max-height: 70px;
}

.sign-up-link {
    font-size: 47%;
}

.login-image {
    height: 800px;
    height: 100%;
    margin-left: -250px;
}

.login-image-space {
    overflow: hidden;
}

.verify-button {
    background-color: rgb(190, 16, 16);
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    height: 50px;
    border: 2.8px solid transparent;
    box-shadow: 0 0 2px #cac2c2;
    width: 100%;
    height: 50px;
    font-size: 15px;
}

.demo-but {
    background-color: rgb(33, 33, 137);
}

.user-input {
    height: 2em;
    appearance: none;
    border: none;
    background-color: inherit;
    outline: none;
    font-family: 'Manrope', sans-serif;
}

.input-label {
    margin: 5px 10px 2px 10px;
    font-size: 12px;
    font-weight: 400;
    color: #9196ba;
    background-color: inherit;
}

.password-input {
    width: auto;
    height: 200px;
    background-color: inherit;
}

.user-input-container {
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 50px;
    border: 2.8px solid transparent;
    box-shadow: 0 0 2px #3d3131;
    width: 350px;
}

.user-input-container:hover {
    border: 1px solid rgb(7, 7, 113);
}

.input-container {
    display: block;
    font-size: xx-large;
}

.demo-button {
    border: none;
    color: blue;
    background-color: inherit;
}

.demo-button:hover {
    border: none;
    color: blue;
    cursor: pointer;
    background-color: inherit;
    border-radius: 2px;
    box-shadow: 1px 1px 0 rgb(211, 215, 237);
}


/* ==========================logout================================================== */

.logout-button {
    border-bottom: 1px solid rgb(208, 210, 213);
    text-align: left;
    border: none;
    text-align: left;
    width: 100%;
    padding: 20px;
    font-size: small;
    background-color: inherit;
}

.logout-button:hover {
    background-color: rgb(217, 225, 232);
    color: white;
    cursor: pointer;
    transition: all ease 0.3s;
}


/* ==========================mobile================================================== */

@media screen and (max-device-width: 600px) {
    .login-image-container {
        display: none;
    }
    .login-form-container {
        display: block;
    }

    .logo-image-container {
        max-height: 100px;
    }
    .user-input-container {
        width: 100%;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .verify-button {
        font-size: xx-large;
        height: 100px;
        margin-bottom: 20px;
    }
    .input-label {
        font-size: xx-large;
    }
    .login-form {
        width: 90%;
        padding-top: 20px;
        padding: 10px
    }
    .input-container {
        padding: 30px 0px;
    }
    .sign-up-link {
        padding-top: 20px;
        font-size: 40px;
    }
}
