@import url(./TicketPanel.css);
@import url(./MapCard.css);

.event-page-img {
    width: 100%;
    height: 100%;
}

.event-page-img-container {
    height: 400px;
}

.event-page-card {
    border: 1px solid rgb(239, 239, 255);
}

.event-page-topcard {
    height: 400px;
    display: grid;
    /* background-color: blue; */
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
}

.event-page-card {
    padding: 20px;
}

.event-page-sidepanel {}

.event-page-bot-grid {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-bottom: 1px solid rgb(235, 235, 240);
}

.events-main-cont-container {
    min-height: 800px;
}

.unregister-tickets-page {
    background-color: rgb(194, 23, 23);
    color: white;
    width: 100%;
    height: 100px;
}

.unregister-tickets-page:hover {
    box-shadow: 2px 2px 10px rgb(255, 21, 21);
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.side-panel-container {
    margin-top: 40px;
}

.register-button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}


/* -------------------------------------------------- */

.purchase-tix-bar {
    width: 100%;
    height: 75px;
    background-color: inherit;
    border-top: 1px solid rgb(235, 235, 240);
    border-bottom: 1px solid rgb(235, 235, 240);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.ticket-button {
    margin-right: 20px;
    border: none;
    background-color: rgb(41, 77, 5);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    padding: 19px 150px;
    border-radius: 10px;
    font-size: medium;
}

.ticket-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(169, 187, 189);
}

.events-description-text {
    padding: 5px 10px;
}

.events-description-innertext {
    padding-top: 12px;
    color: rgb(111, 109, 137);
}

.events-description-label {
    padding-top: 12px;
    color: rgb(17, 13, 72);
}

.events-main-cont {
    /* background-color: lavender; */
    padding: 40px 120px
}

.tags {
    padding: 50px 0;
}

.events-page-location {
    width: 250px;
    padding: 10px;
    margin-bottom: 30px;
}

.events-address-para {
    font-size: small;
    padding: 0;
    margin: 0;
    color: rgb(108, 125, 145);
}

.events-address-label {
    font-size: medium;
    padding: 5px 0;
    margin: 0;
}

.events-info-label {
    padding: 0 0;
}

.events-page-card-naem-long {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    max-height: 30px;
}

.events-page-card-naem-very-long {
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    max-height: 30px;
}

.events-page-card-naem-short {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    max-height: 30px;
}

.event-name-info {
    padding-top: 45px;
}

.event-card-basic-info {
    margin: 0;
    font-size: small;
    color: rgb(61, 74, 97);
}

.follow-me-button {
    border-color: rgb(18, 171, 79);
    color: rgb(18, 171, 79);
    background-color: inherit;
    border-radius: 4px;
}

.follow-me-button:hover {
    /* border-color: rgb(18, 171, 79);
    color: rgb(18, 171, 79);
    background-color: inherit;
    border-radius: 4px; */
    cursor: pointer;
}

.follower-number {
    font-size: small;
}

.ticket-prices-start {
    margin-top: 35%;
    margin-bottom: -35%;
}

.event-page {
    /* margin: 0px 40px 20px 40px; */
    /* box-shadow: 1px 1px 10px blueviolet; */
}
