.unregister-button {
    background-color: red;
}

.register-button {
    background-color: green;
}

.event-page-img {
    width: 200px;
}

.event-page-card {}

.events-main-cont {
    background-color: lavender;
}
