/* @import url(./TicketPanel.css); */
@import url(./MapCard.css);
.event-page-img {
    width: 100%;
    height: 100%;
}

.event-page {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1100px;
    border: 1px solid rgb(239, 239, 255);
    background-color: white;
}

.event-page-img-container {
    height: 400px;
}

.event-page-card {
    border: 1px solid rgb(239, 239, 255);
    padding: 20px;
}

.startend-times {
    color: rgb(134, 134, 160);
    font-size: small;
}

.event-page-topcard {
    height: 400px;
    display: grid;
    /* background-color: blue; */
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    background-color: rgb(240, 241, 245);
}

.event-page-bot-grid {
    display: grid;
    /* grid-template-columns: 5fr 2fr; */
    border-bottom: 1px solid rgb(235, 235, 240);
}

.event-page-sidepanel {
    padding: 120px;
}

@media screen and (min-device-width:880px) {
    .event-page-bot-grid {
        display: grid;
        grid-template-columns: 5fr 2fr;
        border-bottom: 1px solid rgb(235, 235, 240);
    }

    .event-page-sidepanel {
        padding: 0px;
    }

}

.events-main-cont-container {
    min-height: 800px;
}

.unregister-tickets-page {
    background-color: rgb(206, 19, 19);
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 100px;
}

.unregister-tickets-page:hover {
    box-shadow: 2px 2px 10px rgb(255, 21, 21);
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.side-panel-container {
    margin-top: 40px;
}

.register-button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.editable-event {
    background-color: rgb(91, 91, 218);
    border: 1px solid rgb(20, 40, 189);
    color: white;
    margin-bottom: 5px;
    border-radius: 3.5px;
}

.deletable-event {
    background-color: rgb(198, 64, 64);
    border: 1px solid rgb(50, 5, 5);
    color: rgb(232, 235, 215);
    border-radius: 3.5px;
}

.editable-event:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(55, 30, 215);
    transition: ease-in .15s;
}

.deletable-event:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(86, 13, 13);
    transition: ease-in .15s;
}


/* -------------------purchasetickets------------------------------- */

.purchase-tix-bar {
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(235, 235, 240);
    border-bottom: 1px solid rgb(235, 235, 240);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    /* top: 0; */
    z-index: 0;
}

@media screen and (max-device-width: 880px) {
 .purchase-tix-bar {
    position: sticky;
    bottom: 0;
 }
}

.purchase-tix-bar-stick {
    box-shadow: 0 8px 20px -9px rgb(23 23 23 / 45%);
    position: -webkit-sticky;
    /* for safari */
    position: sticky;
    top: 0px;
}

.ticket-button {
    margin-right: 20px;
    border: none;
    background-color: rgb(41, 77, 5);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    padding: 19px 150px;
    border-radius: 10px;
    font-size: medium;
}

.ticket-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(169, 187, 189);
}

.events-description-text {
    padding: 5px 10px;
}

.events-description-innertext {
    padding-top: 12px;
    word-break: break-all;
    color: rgb(111, 109, 137);
}

.events-description-label {
    padding-top: 12px;
    color: rgb(17, 13, 72);
}

.events-main-cont {
    /* background-color: lavender; */
    padding: 40px 120px
}

.tags {
    padding: 50px 0;
}

.events-page-location {
    width: 250px;
    padding: 10px;
    margin-bottom: 30px;
}

.events-address-para {
    font-size: small;
    padding: 0;
    margin: 0;
    color: rgb(108, 125, 145);
}

.events-address-label {
    font-size: medium;
    padding: 5px 0;
    margin: 0;
}

.events-info-label {
    padding: 0 0;
}

.events-page-card-naem-long {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    max-height: 30px;
}

.events-page-card-naem-very-long {
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    max-height: 30px;
}

.events-page-card-naem-short {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    max-height: 30px;
}

.event-name-info {
    padding-top: 45px;
}

.event-card-basic-info {
    margin: 0;
    font-size: small;
    color: rgb(61, 74, 97);
}


/* -----------------------8585-m3-------------------------- */

.follow-me-button {
    border-color: rgb(18, 171, 79);
    color: rgb(18, 171, 79);
    background-color: inherit;
    border-radius: 4px;
    width: 80px;
    margin-left: 10px;
}

.follow-me-button:hover {
    cursor: pointer;
    color: white;
    transition: ease-in-out 2.4s;
    border: .5px solid rgb(37, 71, 155);
    background-color: rgb(55, 255, 0);
    box-shadow: 3px 3px 14px rgb(26, 113, 71);
}

.unfollow-me-button {
    border-color: rgb(3, 162, 61);
    background-color: rgb(35, 22, 186);
    box-shadow: 3px 3px 14px rgb(26, 113, 71);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 80px;
}

.unfollow-me-button:hover {
    cursor: pointer;
    color: white;
    transition: ease-in-out 1.4s;
    border: .5px dotted white;
}

.follower-number {
    font-size: small;
}

.ticket-prices-start {
    margin-top: 25%;
    margin-bottom: -35%;
}

.ticket-message {
    font-size: small;
}

.ticket-message-inner {
    font-size: small;
}

.ticket-message-inner:hover {
    color: red;
}

@media screen and (max-device-width: 600px) {
    .unregister-tickets-page {
        height: 100%;
        font-size: x-large;
    }

    .event-page-topcard {
        display: block;
    }

    .purchase-tix-bar {
        position: fixed;
        bottom: 0;
        height: 10%;
        justify-content: center;

    }

    .ticket-button {
        height: 50%;
        width: 40%;
        font-size: xx-large;
    }

    .event-page-bot-grid {
        display: block;
    }
}
