.map-info-container {
    background-color: white;
    border: 1px solid rgb(241, 241, 245);
}

.map-info-marker-top {
    margin-top: 70px;
}

.map-info-marker {
    display: flex;
    justify-content: center;
}

.map-info-map {
    background-color: inherit;
}

.map-map-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-info-naem {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.map-info-marker-pic {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.top {
    margin-top: 40px;
}

.map-info-map-big {
    color: rgb(28, 28, 75);
    font-size: small;
}

.map-info-map-small {
    color: rgb(164, 171, 194);
    padding: 8px 0px;
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
}

.map-info-map-icons {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-bottom: 80px;
    margin-top: 30px;
}
.view-map-button {
    border: 1px solid rgb(23, 75, 26);
    background-color: rgb(167, 220, 167);
    color: rgb(17, 30, 42);
    border-radius: 3px;
}
.view-map-button:hover {
    border: 1px solid red;
    cursor: pointer;
    background-color: rgb(19, 9, 213);
    box-shadow: 5px 5px 20px hotpink;
    color: wheat;
    transition: all ease 5.5s;
}

/* ======================more from this ========================================================== */

.promo-title {
    font-size: medium;
    text-align: center;
}

.promo-events-box {
    margin: 0 auto;
    width: 63%;
    padding-bottom: 5%;
    padding-top: .5%;
}

.promoter-events {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid rgb(178, 178, 225);
    width: 100%;
    padding-top: 5px;
}

.promoter-events:hover {
    position: relative;
    cursor: pointer;
    /* right: 20px; */
    box-shadow: 1px 1px 5px rgb(178, 178, 225);
    transition: ease 3.5s;
}

.promoter-event-info {
    margin-bottom: -10px;
}

.promoter-event-info-content {
    padding-left: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(224, 224, 230);
}

.promoter-event-img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.promoter-events-img-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 150px;
}

.promoter-event-img-text {
    background-color: rgb(240, 240, 244);
    height: 100%;
    margin-top: -15px;
    margin-bottom: -15px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    color: rgb(80, 82, 140);
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.promoter-event-name {
    font-size: small;
}

.promoter-event-date {
    color: rgb(130, 135, 157);
}

.link-add {
    text-decoration: none;
}

.come-back-l8r {
    content: url(./creative-design-come-back-later-message-come-back-later-message-118578152.jpeg);
    height: 400px;
    width: 400px;
    border-radius: 400px;
    border: 1px solid rgb(205, 205, 227);
}
