.map-info-container {
    background-color: white;
    border: 1px solid rgb(241, 241, 245);
}

.map-info-marker {
    /* background-color: cyan; */
}

.map-info-map {
    background-color: inherit;
}

.map-map-info-box {
}
