/* ============================heart================================== */

.heart-button {
    position: relative;
    float: right;
    border: none;
    background-color: white;
    width: 53px;
    height: 53px;
    right: 10px;
    bottom: 30px;
    border-radius: 53px;
    border: 1px solid rgb(180, 176, 176);
}

.heart-button:hover {
    /* background-color: red; */
}

.heart-icon:hover {
    background-color: white;
}

.black-heart {
    content: url(../../images/heart-5-64.png);
    height: 35px;
    width: 35px;
    padding-top: 10%;
}

.red-heart:hover {
    content: url(../../images/heart-5-64.png);
    width: 35px;
    height: 35px;
    padding-top: 10%;
    cursor: pointer;
    transition: all ease-in .15s;
}

.red-heart {
    content: url(../../images/heart-outline.png);
    width: 20px;
    height: 20px;
    padding-top: 10%;

}

.black-heart:hover {
    content: url(../../images/heart-outline.png);
    width: 20px;
    height: 20px;
    border-radius: 15px;
    transition: all ease-out .5s;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .heart-button {
        height: 53px;
        width: 53px;
        border-radius: 120px;
    }
    .black-heart {
        width: 27px;
        height: 27px;
    }
    .red-heart {
        height: 20px;
    }   
}
