/* ============================heart================================== */

.heart-button {
    position: relative;
    float: right;
    border: none;
    background-color: inherit;
    height: 53px;
    width: 53px;
    right: 10px;
    bottom: 30px;
    border-radius: 53px;
    border: 1px solid rgb(227, 215, 215);
}

.heart-button:hover {
    /* background-color: red; */
}

.heart-icon:hover {
    background-color: white;
}

.black-heart {
    content: url(../../images/heart-5-64.png);
    width: 27px;
    height: 27px;
    padding-top: 10%;
}

.red-heart:hover {
    content: url(../../images/heart-5-64.png);
    width: 35px;
    height: 35px;
    padding-top: 10%;
    cursor: pointer;
    transition: all ease-in .15s;
}

.red-heart {
    content: url(../../images/heart-outline.png);
    width: auto;
    height: 20px;
    padding-top: 10%;
}

.black-heart:hover {
    content: url(../../images/heart-outline.png);
    width: 20px;
    height: 20px;
    border-radius: 15px;
    transition: all ease-out .5s;
    cursor: pointer;
}

@media screen and (max-device-width: 600px) {
    .heart-button {
        width: 120px;
        height: 120px;
        border-radius: 120px;
    }
    .black-heart {
        height: 70px;
        width: 70px;
    }
    .red-heart {
        height: 70px;
        width: 70px;
    }
}
