.edit-container {
    /* position: fixed; */

    /* background-color: grey; */
    /* height: 100%; */
    background-color: darkblue;
    width: 400px;
    margin: 0 auto;
}

.edit-panel-container {
    height: 100%;
    background-color: rgba(7, 22, 53, 0.571);
    color: darkblue;
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0%;
    left: 0%;
}
