.edit-container {
    /* position: fixed; */
    /* background-color: grey; */
    /* height: 100%; */
    background-color: rgb(4, 4, 41);
    width: 80%;
    height: 870px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 8px;
}

.edit-panel-container {
    height: 100%;
    background-color: rgba(7, 22, 53, 0.571);
    color: darkblue;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

.edit-form {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

.edit-input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.edit-textarea {
    resize: none;
    width: 94%;
    border-radius: 5px;
    height: 100px;
    height: 150px;
    padding: 20px;
}

.edit-labels {
    color: white;
}

.edit-form-buttons {
    border: none;
    padding: 0 20px;
    color: white;
    height: 20px;
    background-color: inherit;
    margin-left: 30px;
    margin-top: 17px;
}

.edit-form-buttons:hover {
    cursor: pointer;
    transition: ease-out 0.6s;
    background-color: white;
    color: black;
    border-radius: 3px;
}


/* ============================heart================================== */

.heart-button {
    position: relative;
    float: right;
    border: none;
    background-color: inherit;
    height: 53px;
    width: 53px;
    right: 10px;
    bottom: 30px;
    border-radius: 53px;
    border: 1px solid rgb(227, 215, 215);
}

.heart-button:hover {
    /* background-color: red; */
}

.heart-icon:hover {
    background-color: white;
}

.black-heart {
    content: url(./heart-5-64.png);
    width: 27px;
    height: 27px;
    padding-top: 10%;
}

.red-heart:hover {
    content: url(./heart-5-64.png);
    width: 35px;
    height: 35px;
    padding-top: 10%;
    cursor: pointer;
    transition: all ease-out 2.5s;
}

.red-heart {
    content: url(./kiKnnLyoT.jpeg);
    width: 22px;
    height: 22px;
    padding-top: 10%;
}

.black-heart:hover {
    content: url(./kiKnnLyoT.jpeg);
    width: 20px;
    height: 20px;
    border-radius: 15px;
    transition: all ease-out 3.5s;
    cursor: pointer;
}
