.event-cards {
    width: 285px;
    height: 250px;
    /* height: 200px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(211, 214, 227);
    padding-bottom: 100px;
    background-color: white;
    margin-top: 30px;
}

.event-cards:hover {
    cursor: pointer;
    /* color: #ffffff !important; */
    /* background-color: #3f0d12; */
    /* content: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%); */
    box-shadow: 0px 5px 10px rgb(175, 184, 223);
    transition: all 0.4s ease 0s;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

img {
    width: inherit;
    /* height: 40px; */
    object-fit: cover;
    height: 150px;
}

.card-info-container {
    background-color: white;
    /* position:inherit; */
    /* bottom: 10px; */
}

.edit-container {
    position: fixed;
    top: 20%;
    right: 25%;
    background-color: grey;
    width: 50%;
}

.opening-message {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(211, 214, 227);
    padding: 20px;
    border-left: 4px solid rgb(186, 68, 237);
}

.container {
    background-color: red;
}

.card-per {
    text-decoration: none;
}

.spalsh-image-2 {
    background-image: url('./large-group-activity2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* ----------------------------------- */

.top-home-sent {
    color: rgb(210, 37, 210);
    font-size: 50px;
    margin: 0;
    padding-left: 40px;
    font-family: 'Monoton', cursive;
}

.card-print {
    font-size: 10px;
    padding-left: 17px;
    padding-top: 1px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
}

.card-name-home {
    padding-top: 15px;
    font-size: 18px;
    max-height: 40px;
}

.card-date {
    color: rgb(255, 116, 66);
    font-size: small;
}

.card-venue {
    font-size: 13px;
    color: rgb(155, 139, 223);
}

.card-venue-home {
    font-size: 13px;
    color: rgb(153, 161, 191);
}

.card-cost-home {
    margin-top: -10px;
    color: rgb(185, 181, 203);
}

.card-user-home {
    color: rgb(75, 72, 82);
}

.card-cap-home {
    font-size: x-small;
    color: rgb(142, 95, 95);
}
