@import url(./EditForm.css);
@import url(./Popular_cat.css);
.event-cards {
    width: 285px;
    height: 250px;
    /* height: 200px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(211, 214, 227);
    padding-bottom: 100px;
    background-color: white;
    margin-top: 30px;
}

.event-cards:hover {
    box-shadow: 0px 5px 10px rgb(175, 184, 223);
    transition: all 0.4s ease 0s;
}

.card-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

img {
    width: inherit;
    /* height: 40px; */
    object-fit: cover;
    height: 150px;
}

.opening-message {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(211, 214, 227);
    padding: 10px 20px;
    border-left: 4px solid rgb(186, 68, 237);
    border-radius: 5px;
}

.opening-message:hover {
    box-shadow: 4px 4px 10px rgb(25, 28, 118);
    transition: ease-in-out 5.5s;
}

.spalsh-image-2 {
    background-image: url('./large-group-activity2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* --------------------------card--------------------------------------------------------- */

.top-home-sent {
    color: rgb(210, 37, 210);
    font-size: 50px;
    margin: 0;
    padding-left: 40px;
    font-family: 'Monoton', cursive;
}

.card-print {
    font-size: 10px;
    padding-left: 17px;
    padding-top: 1px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
}

.card-per {
    text-decoration: none;
}

.card-per:hover {
    cursor: pointer;
    /* color: #ffffff !important; */
    /* background-color: #3f0d12; */
    /* content: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%); */
    box-shadow: 0px 5px 10px rgb(175, 184, 223);
    transition: all 0.4s ease 0s;
}

.card-name-home-short {
    padding-top: 15px;
    font-size: 16.3px;
    max-height: 33px;
}

.card-name-home-long {
    padding-top: 13px;
    font-size: 12px;
    max-height: 42px;
}

.card-date {
    color: rgb(255, 116, 66);
    font-size: small;
}

.card-venue {
    font-size: 13px;
    color: rgb(155, 139, 223);
}

.card-venue-home {
    font-size: 13px;
    color: rgb(153, 161, 191);
    margin-top: -5px;
}

.card-cost-home {
    margin-top: -10px;
    color: rgb(185, 181, 203);
}

.card-user-home {
    color: rgb(75, 72, 82);
}

.card-cap-home {
    font-size: small;
    color: rgb(142, 95, 95);
}

.card-info-container {
    background-color: white;
    height: 75%;
}

.home-card-followers-img {
    content: url('pngtree-outline-user-icon-png-image_1727916.jpeg');
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.card-cap-followers {
    display: flex;
    margin-top: -10px;
    align-items: center;
    color: rgb(119, 119, 132);
    font-size: small;
}
/*
.event-name-conatianer {
    max-height: 430px;
} */


/* --------------------------card---butts------------------------------------------------------ */

.home-card-delete-button {
    float: right;
    position: relative;
    bottom: 140px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    right: 15px;
    background-color: inherit;
    border: .5px solid rgb(209, 211, 232);
    color: rgb(110, 126, 189);
}

.home-card-delete-button:hover {
    background-color: lightslategrey;
    cursor: pointer;
    color: white;
    transition: ease-out .5s
}

.home-card-edit-button {
    float: right;
    position: relative;
    /* bottom: 80px; */
    left: 25px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    bottom: 80px;
    font-size: x-large;
    background-color: inherit;
    border: .5px solid rgb(209, 211, 232);
    color: rgb(110, 126, 189);
}

.home-card-edit-button:hover {
    cursor: pointer;
    background-color: lightslategrey;
    color: white;
    transition: ease-out .5s;
}


@media screen and (max-device-width: 600px) {
    .card-container {
        display: block;
    }
    .event-cards {
        width: 100%;
    }
    .card-cap-home {
        font-size: x-large;
    }
    .card-cap-followers {
        font-size: x-large;
    }
    .card-cost-home {
        font-size: large;
    }
    .card-info-container {
        height: auto;
    }
}
