.spalsh-image {
    background-image: url('./edm2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-sent {
    padding-top: 60px;
}

.bottom-sent {
    padding-bottom: 60px;
}

.opening-sent {
    color: white;
    font-size: 50px;
    /* height: 300px; */
    margin: 0;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
}
