@import url('./HomePage.css');
.spalsh-image {
    background-image: url('./edm2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.top-sent {
    padding-top: 60px;
}

.bottom-sent {
    padding-bottom: 10px;
}

h3 {
    font-size: 1.30 rem
}

p {
    font-size: 16px;
}

.event-button {
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 7%;
    background-color: rgb(50, 211, 247);
    color: rgb(255, 253, 253);
    font-size: 90%
}

.opening-sent {
    color: white;
    font-size: 50px;
    /* height: 300px; */
    margin: 0;
    padding-left: 40px;
    font-family: 'Monoton', cursive;
}

.covid-message {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(227, 211, 211);
    padding: 20px;
    border-left: 4px solid rgb(237, 68, 68);
}
