.events-form-container {
    position: absolute;
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.create-event {
    padding-top: 6.5px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: black;
}

.create-event:hover {
    background-color: rgb(240, 248, 255);
}

.ticket-icon {
    content: url('./createe-event.png');
    height: 30px;
    /* padding-bottom: 5px; */
    width: auto;
}
