@import url('./EventForm.css');
@import url(./dropdown.css);
.navbar-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    z-index: 1;
    border-bottom: 1px solid rgba(203, 203, 230, 0.42);
}

.navbar-home {
    display: flex;
    align-items: center;
}

.searchbar-container {
    margin-top: -8px;
    /* display: inline; */
    /* justify-content: space-around; */
}

.navbar-image {
    content: url('../../images/adventure_time-logo.jpeg');
    width: 100%;
    height: 42px;
    margin-left: 20px;
}

body {
    background-color: rgb(249, 250, 252);

}

.navbar-drop-container {
    position: relative;
    right: 10px;
}

.login-signup {
    padding: 20px 10px;
}

.login-signup:hover {
    background-color: rgb(240, 248, 255);
    transition: all ease 0.3s;
}

.right-side-control {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.search-input {
    width: 40%;
    padding-left: 20px;
    margin-left: 40px;
    height: 42px;
    margin-bottom: 6px;
    margin-top: 7px;
}

.cancel-button {
    margin-left: 30%;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    color: blue;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: rgb(190, 212, 233);
    transition: all ease 0.3s;
    /* height: 100%; */
}

.searchbar-toggle {
    border: none;
    background-color: inherit;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    font-size: 11px;
    /* margin-bottom: -3px; */
    align-items: center;
    justify-content: center;
}

.searchbar-toggle:hover {
    cursor: pointer;
    background-color: rgb(240, 248, 255);
    transition: all ease 0.3s;
}

.signup-link {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(13, 24, 29);
    font-weight: lighter;
    font-size: small;
}

.search-icon {
    content: url(../../images/outline_search_black_24dp.png);
    width: auto;
    height: 16px;
    padding: 0 20px;
    /* margin-bottom: -2px; */
}

.ticket-icon {
    content: url('../../images/createe-event.png');
    height: 16px;
    /* padding-bottom: 5px; */
    width: auto;
}

.ticketing-icon {
    content: url('../../images/ticket.png');
    height: 16px;
    /* padding-bottom: 5px; */
    width: auto;
}

@media screen and (max-device-width: 600px) {
    .navbar-container {
        height: 120px;
    }
    .login-signup {
        font-size: xx-large;
        padding-top: 30px;
    }
    .ticket-icon {
        height: 40%;
    }
    .ticketing-icon {
        height: 40%;
    }
    .navbar-image {
        height: 70%;
    }
    /* .profile-pic {
        height: 40%;
    } */
    .create-event {
        font-size: large;
    }
}
