@import url('./EventForm.css');

.navbar-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: -10px;
}

.searchbar-container {
    margin-top: -8px;
    /* display: inline; */
    /* justify-content: space-around; */
}

.navbar-image {
    content: url('../NavBar/adventure_time-logo.jpeg');
    width: 100%;
    height: 42px;
    padding: 8px;
}

body {
    background-color: rgb(249, 250, 252);
}

.navbar-drop-container {
    position: relative;
    right: 10px;
}

.login-signup {
    padding: 20px 10px;
}

.login-signup:hover {
    background-color: rgb(240, 248, 255);
}

.right-side-control {
    display: flex;
    flex-direction: row;
}

.search-input {
    width: 40%;
    padding-left: 20px;
    margin-left: 40px;
    height: 42px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.cancel-button {
    margin-left: 30%;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    color: blue;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: rgb(190, 212, 233);
    /* height: 100%; */
}

.searchbar-toggle {
    border: none;
    background-color: inherit;
    font-family: inherit;
    width: 85px
}

.searchbar-toggle:hover {
    cursor: pointer;
    background-color: rgb(240, 248, 255);
}

.signup-link {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(13, 24, 29);
    font-weight: lighter;
    font-size: small;
}
